# Default ignored files
/../../improving-writing-assistance /.idea/shelf/
/../../improving-writing-assistance /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../improving-writing-assistance /.idea/httpRequests/
# Datasource local storage ignored files
/../../improving-writing-assistance /.idea/dataSources/
/../../improving-writing-assistance /.idea/dataSources.local.xml
